
.Result-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 1vw;
    box-sizing: border-box;
}

.article-container {
    width: 30%; 
    height: 500px; 
    border: none;
    border-radius: 30px;
    padding: 20px;
    background-color: #E6D5BC;
    color: rgb(4, 4, 4); 
    text-align: center;
    margin: 1vw; 
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s ease-in-out;
}

.article-container:hover {
    transform: translateY(-5px);
}


.article-image {
    width: 100%;
    min-height: 200px; 
    object-fit: cover; 
    border-radius: 10px;
    margin-bottom: 10px;
}

.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    width: 100%;
}

.article h3{
    margin-bottom: 5px;
    font-size: 1.2vw;
}

.article p {
    font-size: 1.2vw;
    margin: 5px 0;
}

.article a {
    font-size: 1vw;
    color: rgb(244, 20, 20);
    text-decoration: none;
    margin-top: 10px;
    border-radius: 50px;
    padding:10px;
    cursor: pointer;
}

.article a:hover{
    color: rgba(244, 20, 20, 0.887);
}

.message{
margin-top: 50px;
}

@media(max-width:768px){
    .Result-wrapper{
        flex-wrap: wrap;
    }

    .article h3{
        font-size: 2vw;
    }

    .article p{
        font-size: 1.8vw;
    }

    .article a{
        font-size: 1.8vw;
    }
}

@media (max-width: 460px) {
    .Result-wrapper {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 10px;
    }

    .article-container {
        width: 100% ;
        margin: 1vw 0; 
    }

    .article h3 {
        font-size: 4.5vw; 
    }

    .article p {
        font-size: 4vw; 
    }

    .article a {
        font-size: 4vw; 
    }
}


