
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight:600;
  font-style: normal;
}

html , body{
  height: 100%;
  width: 100%;
}


